<html>

<head>
    <title>Todo - Hileets</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <button type="submit" id="logoutBtn" style="width: 80px;"><i class="fa fa-sign-out"></i></button><br>  
    <header>
        <h1>todo
            <span>list</span>
        </h1>
        <h2>A simple todo-list by hi-leets</h2>
    </header>
    <section class="form">
        <input type="text" placeholder="Insert you task here..." class="todoInput" id="todoInput">
    </section>
    <ul class="list">
    </ul>
    <script src="/scripts/script.js"></script>
</body>

</html>