<html>

<head>
    <title>Todo - Hileets</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>

<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo-list by hi-leets</h2>
    </header>
    <section class="form">
        <input type="email" placeholder="Email" class="todoInput" id="loginEmail">
        <input type="password" placeholder="Password" class="todoInput" id="loginPassword">
        <a href="./"><button type="button" id="loginBtn">LOGIN</button></a>
        <button type="submit" id="signupBtn">SIGNUP</button>
    </section>
    <ul class="list">
    </ul>
    <script src="/scripts/signup.js"></script>
</body>
</html>